{%extends 'all-photoapp/base.html'%} {%load bootstrap3%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="{{image.image.url}}" class="img-responsive" alt="pic">
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">{{image.title}}</h3>
        <h4 class="text-center">{{image.post}}</h4>
        <em><i>Posted by {{image.user}} {{image.pub_date|timesince}} ago</i></em>
    </div>
</div>

</div>
{%endblock%}